body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  /* To position the content above the background image */
  z-index: 1;
  /* Ensure content is above the background image */
}

.aws-logo {
  width: 200px;
  height: auto;
  margin-bottom: 40px;
  transition: transform 0.3s ease;
}

.aws-logo:hover {
  transform: rotate(360deg);
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  background-color: #232f3e;
  /* Background color for the heading */
  color: #fff;
  /* Text color */
  padding: 10px 20px;
  /* Padding around the text */
  border-radius: 8px;
  /* Rounded corners */
}

.content {
  font-size: 1.2rem;
  margin-bottom: 40px;
  background-color: #232f3e;
  /* Background color for the content */
  color: #fff;
  /* Text color */
  padding: 10px 20px;
  /* Padding around the text */
  border-radius: 8px;
  /* Rounded corners */
}

.subscribe-button {
  background-color: #f8991d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-size: 20px;
}

.subscribe-button:hover {
  background-color: #0056b3;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Apply blur effect */
  background-image: url('https://allcode.com/wp-content/uploads/2021/02/Group-169-3.png');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 0;
  /* Ensure background image is behind other content */
}

/* Overlay to improve text visibility */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  z-index: -1;
}